.team-row {
 display: none;
 text-align: center;
}

.team-row li {
 list-style: none;

}

@media only screen and (max-width: 600px) {
 .team-row {
  display: block;
 }

 .mobile-hidden {
  display: none;
 }
}